<form action="<%= posts_url %>" method="post">
  <%= form_authentication %>
  <input type="text" name="post[title]" value="<%= @post.title %>">
  <textarea name="post[body]"><%= @post.body %></textarea>
  <input type="Submit">
</form>
